@import url(https://fonts.googleapis.com/css?family=Inconsolata);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

* {
	box-sizing: border-box;
	margin: auto;
}

body { 
	font-family: Inconsolata;
	color: #8093AA; 
	background-image: url("../img/congruent_outline.png");
	text-align: center;
}

[role = banner] {
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../img/header2.jpg);
	height: 400px;
}

header {
	padding-top: 5em;
	font-family: Inconsolata;
}

header h1 {
	font-size: 100px;
	color: #8093AA;
}

header h2 {
	font-size: 80px;
	color: #562CDF;
}

.summary {
	padding: 2% 20%;
}

.box {
	font-family: Serif;
	font-size: 25px;
	color: #FFF;
	border-style: dashed;
	border-width: thin;
	border-color: #8D5EF7;
}

.box a {
	text-decoration: none;
	color: #FFF;
}

.preamble {
	font-family: Serif;
	padding: 2% 30% 2% 5%;
}

.textura {
	padding: 2% 8%;
	background-image: url("../img/textura.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.textura h3 {
	font-size: 2em;
	margin-bottom: 0.8em;
}

.textura p {
	color: #5246C9;
}

.explanation {
	font-family: Serif;
	padding: 2% 30% 2% 5%;
}

.participation {
	font-family: Serif;
	padding: 2% 30% 2% 5%;
}

.textura a {
	text-decoration: none;
	color: #5246C9;
}

.benefits {
	padding: 2% 30% 2% 5%;
	font-family: Serif;
}

.requirements {
	padding: 2% 30% 2% 5%;
	font-family: Serif;
}

.sidebar {
	background-image: url("../img/footer.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: left;
	padding-top: 2%;
	padding-left: 5%;
}

.sidebar .wrapper .design-selection nav ul li a {
	list-style: none;
}

.sidebar li a:link {
	color: #3D2B7E;
}

.sidebar li a:visited {
	color: #2B6C6D;
}